.Dictionary section {
  color: black;
  background: linear-gradient(to right, rgb(238, 156, 167), rgb(255, 221, 225));
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  margin: 20px 0;
  max-width: 960px;
}
.Dictionary .search-bar {
  width: 80%;
  border-radius: 4px;
  padding: 6px 4px;
  color: black;
  border: 1px solid #ddd;
}
.Dictionary .search-btn {
  margin-left: 20px;
  margin-bottom: 5px;
  width: 100px;
}

.Dictionary .search-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
